<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="/img/GreenFee_long_light.png" width="112" height="28" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        City
      </a>

      <a class="navbar-item" href="/user">
        Robert
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <%if (isCity) { %> Stadt Stuttgart
        <figure class="image user-icon">
          <img
            src="https://pbs.twimg.com/profile_images/890219447679688705/aDmBwTld_400x400.jpg"
            alt="stuttgart"
          />
          <% } else{ %>
            Robert Krüger
            <figure class="image user-icon">
              <img
                src="https://media.licdn.com/dms/image/C5603AQGbLwJruynUIQ/profile-displayphoto-shrink_800_800/0?e=1555545600&v=beta&t=d0qzDDRPUJNq276tPUJdO4bVRaBcrdlLF-eKUphEx70"
                alt="robert"
              />
          <% } %>
        </figure>
      </div>
    </div>
  </div>
</nav>
