.map,
#themap {
  height: 800px;
}

#themap .leaflet-routing-container.leaflet-bar.leaflet-control {
  display: none;
}

.user-icon {
  width: 32px;
  padding-left: 3px;
}

.user-icon > img {
  border-radius: 10px;
}

.buttons-row {
  margin-top: 10px;
}

.buttons-row > p {
  text-align: center;
}
