.map,
#themap {
  height: 600px;
}

#themap .leaflet-routing-container.leaflet-bar.leaflet-control {
  display: none;
}

.user-icon {
  width: 32px;
  margin-left: 15px;
}

.user-icon > img {
  border-radius: 200px;
}

.buttons-row {
  margin-top: 10px;
}

.buttons-row > p {
  text-align: center;
}

.leaflet-heatmap-layer {
  opacity: 0.8;
}
